<h3>My Collection</h3>

<mat-grid-list cols="1" rowHeight="130">
    <mat-grid-tile *ngFor="let item of myCollection; let i = index " (click)="loadMovie(i)">
        <p><b>{{item.title}}</b></p>
        <p>{{item.overview}}</p>
        <br>
        <p><button mat-button (click)="deleteRow(i)">Remove</button></p>

    </mat-grid-tile>
</mat-grid-list>