<mat-toolbar>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <div class="example-button-row">
        <!-- <button mat-raised-button>Basic</button> -->
        <button mat-raised-button color="primary" [routerLink]="buttonRoute">{{buttonTitle}}</button>
        <!-- <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a> -->
    </div>
</mat-toolbar>
<mat-card>
    <router-outlet></router-outlet>
</mat-card>