<mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile>
        <h3>{{movie.title}}</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}">
    </mat-grid-tile>
</mat-grid-list>
<b>Description: </b>
<p>{{movie.overview}}</p>
<mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile>
        <b>Budget: </b>
        <p>{{movie.budget}} </p> <br>
    </mat-grid-tile>
    <mat-grid-tile>
        <b>Release Date: </b>
        <p>{{movie.release_date}} </p> <br>
    </mat-grid-tile>
    <mat-grid-tile>
        <b>Revenue: </b>
        <p>{{movie.revenue}} </p>
    </mat-grid-tile>
    <mat-grid-tile>
        <b>Average Vote: </b>
        <p>{{movie.vote_average}} </p> <br>
        <b>Vote Count: </b>
        <p>{{movie.vote_count}} </p>
    </mat-grid-tile>
</mat-grid-list>
<b>Rate: </b>
<mat-slider min="1" max="10" step="0.5" value="1.5" [(ngModel)]="rate"></mat-slider> {{rate}} <button mat-button (click)="submitRate()">Rate</button>

<i *ngIf="rateMsg">{{rateMsg}}</i>
<div *ngIf="movie.spoken_languages">
    <b>Spoken Languages</b>
    <ul>
        <li *ngFor="let language of movie.spoken_languages">{{language.name}}</li>
    </ul>
</div>
<button mat-button (click)="closeDialog()">Close</button>
<button mat-button (click)="addToCollection()">Add to collection</button>
<i *ngIf="collectionMsg">
	{{collectionMsg}}
</i>