<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">

    <mat-form-field class="example-full-width">
        <input formControlName="search" type="search" matInput placeholder="Search Movie">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div *ngIf="submitted && f.search.errors">
        <mat-error *ngIf="f.search.errors.minlength">
            You have to add at least 3 characters
        </mat-error>
        <mat-error *ngIf="!f.search.errors.patern">
            Only alphanumeric allowed!
        </mat-error>
    </div>

</form>

<table *ngIf="movies" mat-table [dataSource]="movies" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
					  The actual rendered columns are set as a property on the row definition" -->

    <!-- Poster Path Column -->
    <ng-container matColumnDef="poster_path">
        <th mat-header-cell *matHeaderCellDef> Poster Path </th>
        <td mat-cell *matCellDef="let element"><img mat-card-image *ngIf="element.poster_path" src="https://image.tmdb.org/t/p/w200/{{element.poster_path}}"></td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Average Vote Column -->
    <ng-container matColumnDef="vote_average">
        <th mat-header-cell *matHeaderCellDef> Average Vote </th>
        <td mat-cell *matCellDef="let element"> {{element.vote_average}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>

</table>
<mat-paginator *ngIf="pageLength" [length]="pageLength" [pageSize]="20" (page)="onSubmit(searchForm.value,$event)"></mat-paginator>